@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    
    var exist = ViewBag.exist;
    var user = ViewBag.user;
    var friends = ViewBag.users as List<Friend>;
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="MyPosts">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Friends"><strong>Friends</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="User">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Messages">Messages</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <form asp-action="SearchUser">
        <div class="text-danger"></div>
        <div class="form-group">
            <label for="user" class="control-label">Search for a user</label>
            <input type="text" name="user" required placeholder="Enter the user you are looking for's mail adress" class="form-control" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="SearchUser" class="btn btn-primary" />
        </div>
    </form>
    @{ if (exist != null)
        {
            if (!exist)
            {<span class="text-danger">No user was found for this mail adress</span> }
            else
            {
                <div>
                    <h4>Found[@ViewBag.user]</h4>
                    <form asp-action="SendFriendRequest">
                        <input type="hidden" name="receiver" value="@ViewBag.user"/>
                        <input type="submit" class="btn btn-primary" value="Send Friend Request" />
                    </form>
                    
                </div>
            }
        }
    }

    <div>
        @{ 
            
        }
    </div>

</main>