@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var messages = ViewBag.msgs as List<Messages>;
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="MyPosts">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="User">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Messages"><strong>Messages</strong></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    @{ if (messages != null)
        {
            foreach (var item in messages)
            {
                if (item.type == "FriendRequest")
                {
                    
                    <h4>@item.content</h4>

                    <div>
                        <form asp-action="Accept">
                            <input name="sender" type="hidden" value=@item.sender />
                            <input name="Id" type="hidden" value=@item.Id />
                            <input type="submit" value="Accept" class="btn btn-primary" />
                        </form>
                        <br />
                        <form asp-action="Deny">
                            <input name="sender" type="hidden" value=@item.sender />
                            <input name="Id" type="hidden" value=@item.Id />
                            <input type="submit" value="Deny" class="btn btn-danger" />
                        </form>
                    </div>




                }
                else if (item.type == "FriendRequestDenial" || item.type == "FriendRequestApproval")
                {
                    <h4>@item.content</h4>
                    <form asp-action="Ok">
                        <input name="sender" type="hidden" value=@item.sender />
                        <input name="Id" type="hidden" value=@item.Id />
                        <input type="submit" value="Ok" class="btn btn-primary" />
                    </form>
                }
                else if (item.type == "Warning")
                {
                    <span class="text-danger">@item.content</span>
                    <form asp-action="Ok">
                        <input name="sender" type="hidden" value=@item.sender />
                        <input name="Id" type="hidden" value=@item.Id />
                        <input type="submit" value="Ok" class="btn btn-primary" />
                    </form>
                }

            }
        }
    }
</main>