@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var messages = ViewBag.msgs as List<Messages>;
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="MyPosts">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Friends">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="User">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Content" asp-action="Messages"><strong>Messages</strong></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    @{           if (messages != null)
            {
                foreach (var item in messages)
                {
                    if (item.type=="FriendRequest")
                    {
                        <h4>Friend request from @item.sender, at @item.time</h4>

                        <button class="btn btn-primary"><a href="/Content/Accept/@item.type">Accept</a></button>
                        
                        <button class="btn btn-danger"><a href="/Content/Deny/@item.type">Deny</a></button>
                        

                    }
                    else
                    {
                        <h4>@item.content</h4>
                    }

                }
            }
    }
</main>